<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <!--
    ASCOM Focuser Driver with COM registry entries suitable for a LocalServer Served Class
  -->
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER" />
    <ComponentGroup Id="cgAscomFocuserDriver">
      <Component Id="cmpAscomFocuserDriver"
                 Directory="INSTALLFOLDER"
                 Guid="*"
                 Win64="no">
        <File Id="filFocuserDriverAssembly"
              Source="$(var.Meade.net.focuser.TargetPath)"
              KeyPath="yes"
              Vital="yes"
              Assembly=".net"
              AssemblyApplication="filFocuserDriverAssembly" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>