<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <!--
    ASCOM Telescope Driver with COM registry entries suitable for a LocalServer Served Class
  -->
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER" />
    <ComponentGroup Id="cgAscomTelescopeDriver">
      <Component Id="cmpAscomTelescopeDriver"
                 Directory="INSTALLFOLDER"
                 Guid="*"
                 Win64="no">
        <File Id="filTelescopeDriverAssembly"
              Source="$(var.Meade.net.Telescope.TargetPath)"
              KeyPath="yes"
              Vital="yes"
              Assembly=".net"
              AssemblyApplication="filTelescopeDriverAssembly" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>