<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER"/>
    <ComponentGroup Id="cgAscomLocalServer" Directory="INSTALLFOLDER">
      <Component Id="cmpAscomLocalServer" Guid="*" Win64="no">
        <File Id="filLocalServerAssembly"
              Source="$(var.Meade.net.TargetPath)"
              KeyPath="yes"
              Vital="yes"
              Assembly=".net"
              AssemblyApplication="filLocalServerAssembly" />
      </Component>
    </ComponentGroup>

    <CustomAction Id="RegisterEXE"
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[#filLocalServerAssembly]&quot; /register"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no"
    />

    <CustomAction Id="UnRegisterEXE"
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[#filLocalServerAssembly]&quot; /unregister"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="no"
    />

    <InstallExecuteSequence>
      <Custom Action='RegisterEXE' Before="InstallFinalize">
        <![CDATA[(NOT Installed)]]>
      </Custom>
      <Custom Action="UnRegisterEXE" After="InstallInitialize">
        <![CDATA[(REMOVE ~= "ALL" AND NOT UPGRADINGPRODUCTCODE)]]>
      </Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>