<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Product Id="*"
           Name="$(var.InstallName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />
    
    <Property Id="REGISTRYROOT" Value="Software\Cjdawson.com Ltd\Database Patcher" />

    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.7.1. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45>="#461308"]]>
    </Condition>

    <!--todo create a method to check if ASCOM is installed.-->
    <!--<Condition Message="This application requires ASCOM Platform 6.4 or later.  Please install this and try again.">
      <![CDATA[Installed or WIX_IS_NETFRAMEWORK_471_OR_LATER_INSTALLED]]>
    </Condition>-->

    <Condition Message="Please use the correct installer for your operating system - x86 for 32-bit, x64 for 64-bit.">
      <?if $(var.Win64) = "yes" ?>
      VersionNT64
      <?else?>
      NOT VersionNT64
      <?endif?>
    </Condition>

    
    <UIRef Id="InstallationUI"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <FeatureGroupRef Id="fgRoot"/>
	</Product>
</Wix>
